.wrap {
    width: 100px; 
    height: 20px;
}
.left, .right {
    display: inline-block;
    display: inline;
    zoom: 1;
    width: 100%;
    margin-right: -100%;
    vertical-align: bottom;
}
.right {
    text-align: right;
}
.left a, .right a { display: inline-block; position: relative; }
.left a { width: 100px; height: 20px;  }
.right a { width: 200px; height: 20px; }